body{
			margin:0;
		}
		a{
			color:pink;
			text-decoration:none;
		}
		h1{
			font-size:50px;
			text-align:center;
			border-bottom:5px solid gray;
			margin:0;
			padding:20px;
		}
		ul{
			border-right:2px solid gray;
			padding:30px;
			margin:0 auto;
		}
		#grid{
			display:grid;
			grid-template-columns:150px 1fr;
		}
		#grid ul{
			padding-left:33px;
		}
		#grid #article{
			padding-left:25px;
		}
		#sub{
			border:5px solid pink;
		}